@import '../shared.scss';

.time-setting-block {
    position: relative;


    &.separator {
        font-size: 8rem;
    }

    &.hide {
        display: none;
    }

    .block-label {
        position: absolute;
        font-size: 5rem;
        left: 48rem;
        top: 3.5rem;
        pointer-events: none;
        transition: all 0.2s;

        &.min {
            left: 63rem;
        }

    }




    :focus+.block-label,
    :not(:placeholder-shown)+.block-label {
        background-color: rgba($color-background-white, 1);
        top: 2rem;
        font-size: 2rem;
    }




}

.time-block {
    display: inline-block;
}