@import '../shared.scss';

.btn {
    width: 30rem;
    padding: 1rem;
    font-size: 4rem;
    margin: 5rem auto;
    border-radius: 100rem;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(black, 0.2);
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(black, 0.2);
    }

    &.pause {
        background-color: $color-red;
    }

    &.start {
        background-color: $color-green;
    }
}