@import '../shared.scss';

.remaining-time-box {
    font-size: 5rem;
    width: 15rem;
    border: none;
    outline: none;
    display: inline-block;
    margin: 1rem auto;
    text-align: center;
    background-color: rgba(black, 0);
    border: 0.1rem solid rgba($color-secondary, 0.5);

    &:focus {
        border: 0.1rem solid $color-red;
    }


}