@import '../shared.scss';

.rest-time {
    color: #83eb05;
    font-size: 4.8rem;
    background-color: $color-background-white;
    border-radius: 1rem;
    display: inline-block;
    margin-top: 5rem;
}